$globalbackgroundcolor: #3E4850;
$headerbackgroundcolor: #21BBD7;
$buttonbackgroundcolor: #A9A9A5;
$titlescolor: #515153;
$whitetextcolor: #FFFFFF;
$localbackgroundcolor: #F0EEE7;
$formsbackgroundcolor: #DDDCD6;
$formsfontcolor: #727272;
$txtfontcolor: #989899;