@import '../main/defaults';

.x-solution-view {
  padding-right: 10px;
  padding-top: 10px;
  margin-left: 5%;
  width: 85%;
  height: 700px;
}

.x-solution-view .thumb {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}

.x-solution-view .thumb-wrap {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.x-solution-view .thumb-wrap span {
  display: block;
  overflow: hidden;
}

.x-solution-view-title {
  font-size: 20px;
  color: $titlescolor;
}

.x-solution-view-paragraph {
  font-size: 18px;
  color: $txtfontcolor;
}

hr{
  color: $txtfontcolor;
  background-color: #DADAD5;
  height:1px;
  border:none;
}
