@import '../main/defaults';

.your-solutions-view{
  background-color: $localbackgroundcolor;
  width: 80%;
}

.your-solutions-view-top{
  background-color: $whitetextcolor;
  width: 100%;
  min-height: 65px;
}

.your-solutions-view-button {
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 5px;
  height: 30px;
  background: $buttonbackgroundcolor;
}

.your-solutions-view-button .x-btn-center span {
  color: $whitetextcolor;
  font-weight:900;
  font-size: 12px;
}

.your-solutions-view-container-search{
  width: 100%;
  min-height: 85px;
}

.your-solutions-view-txt{
  color: $titlescolor;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
}